#container {
    position: relative;
    height : 498px;
    margin: 0 auto;
    background: none;
    border: 5px black;
    overflow: hidden;
    padding: 20px;
}

.welcome-tittle-style {
    padding: 20px;
    font-weight: 600; 
    font-size: 60px;
    font-family: sans-serif;
}


.paragraph-style {
    padding: 20px;
    font-weight: 600; 
    font-size: 20px;
    font-family: sans-serif
}

.image-style {
    width: 200px;
    height: 200px;
    float: right;
}

#first-button {
    padding: 3%;
    background-color: #60cb01;
    border-radius: 20%;
    border-bottom-color: #60cb01;
    float: left inherit;
    cursor: pointer;
    
}

.text-style-1 {
    text-decoration: none;
    padding: 15px;
    font-weight: 600;
    font-size: 25px;
    color: black;
}

.encrypt-tittle-style {

}

#firstphrase {

}

#second-button {

}

#resultcontainer {
    background-color: #fff ;
    min-height: 100px;
    border: solid black; 5px;
}

.text-style-2 {

}

.decrypt-tittle-style {

}

#secondphrase {

}

#third-button {

}

#resultcontainer2 {
    background-color: #fff ;
    min-height: 100px;
    border: solid black; 5px;
}

.text-style-3 {

}

#parameter {

}


